.popup__title {
  width: 358px;
  text-align: left;
  margin: 0;
  font-size: 24px;
  padding-bottom: 31px;
}

@media screen and (max-width: 767px) {
  .popup__title {
    width: 88.125%;
    font-size: 18px;
    padding-bottom: 62px;
  }  
}